md-card{
    display:inline-block;
    margin-left: 2%;
    margin-top: 10px;
    padding-bottom: 0;
    padding-top: 10px;
}

.container{
    width:80%;
    margin:0 auto;
    padding-bottom: 200px;
}

.descargas{
    color:white;
}

md-icon.rate{
    font-size: 14px;
    width: 15px;
}